
<h2>Edit Residence</h2>

<form action="/residences/<%=@residence.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
  <h3>Residence Info</h3>
  <label>Address:</label>
  <input type="text" name="residence[address]" id="residence_address" value="<%=@residence.address%>">
  <label>Deposit Amount</label>
  <input type="text" name="residence[deposit]" id="residence_deposit" value="<%=@residence.deposit%>">
  <p>
  <label>Select an existing Landlord:</label><br>
    <%@user.landlords.each do |landlord|%>
      <input type="radio" name="landlord[landlord_id][]" value='<%=landlord.id%>' id="landlord_<%=landlord.id%>" <%='checked' if @residence.landlord.id==landlord.id%>><%=landlord.name%></input><br>
    <%end%>
  <label>Or enter a new Landlord's name</label>
    <input type="text" name="landlord[name]" id="new_landlord_name">

<p>
  <h3>Who lives/lived here with you?</h3>
  <label>Select an existing Roommate:</label><br>
    <%@user.roommates.each do |roommate|%>
      <input type="checkbox" name="roommate[roommate_ids][]" value="<%=roommate.id%>" id="roommate_<%=roommate.id%>" <%='checked' if @residence.roommates.include?(roommate)%>><%=roommate.name%></input><br>
    <%end%>
  <label>Or enter a new Roommate's name:</label>
    <input type="text" name="roommate[name]" id="new_roommate_name">


<p>
  <h3>Is this your current residence?</h3>
  <input type="radio" name="residence[primary_residence]" value=true <%='checked' if @residence.primary_residence==true%>>Yes
  <input type="radio" name="residence[primary_residence]" value=false <%='checked' if @residence.primary_residence==false%>>No
<p>
<br>
  <input type="submit" value="Edit Residence">
</form>
<form action="/residences/<%=@residence.id%>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete Residence</button>
</form>
